{
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 100,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@(?!/)",
    "^@/pages/(.*)$",
    "^@/containers/(.*)$",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/services/(.*)$",
    "^@/assets/(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
